
html, body {
  width: 100%;
  height: 100%;
}

h1 {
  text-align: center;
  border: solid lightgray 1px;
}

h3 {
  text-align: center;
  font-weight: bold;
}
.mainContainer {
  /*border: solid lightgray 1px;*/
  width: 768px;
  margin: 20px auto;
}

.left-column {
    /*background-color: lightgray;*/
}

.right-column {
    /*background-color: lightgreen;*/
}

@media (max-width: 768px) {
    .mainContainer {
        width: 98%;
        margin: 0 1%;
    }
}

#header {
  margin-bottom: 10px;
}

.item {
  border: solid lightgray 1px;
  padding-bottom: 10px;
  cursor: pointer;
}

.no_details {
  display: none;
}

.details {
  margin-top: 20px;
  border: solid lightgray 1px;
  position: fixed;
  width: 17%;
}

p {
  text-align: center;
  font-weight: bold;
}

.image {
  display: block;
  margin: 7px;
  width: 90%;
  margin-bottom: 20px;
}

.preview {
  display: block;
  margin: 7px;
  width: 94%;
}

.btn-xs {
  color: black;
  width: 84%;
}

.ability {
  display: inline-block;
  text-align: center;
  width: 48%;
}

.pokemonRow {
  margin: 20px auto;
}

.table, th, td {
  border: solid lightgray 1px;
  text-align: center;
  padding: 3px;
}

.tableDetails {
  margin: 10px auto;
  width: 90%
}

.features {
  width: 46%;
}

.loadMore {
  width: 94%;
  margin: 0 15px;
}


/* Classes for buttons */
.Flying{
  background-color: lime;
  border-color: lime;
}
.Flying:hover{
  background-color: lime;
  border-color: black;
}

.Normal{
  background-color: orange;
  border-color: orange;
}
.Normal:hover{
  background-color: orange;
  border-color: black;
}

.Bug {
  background-color: gold;
  border-color: gold ;
}
.Bug:hover {
  background-color: gold;
  border-color: black ;
}

.Poison {
  background-color: deeppink;
  border-color: deeppink;
}
.Poison:hover {
  background-color: deeppink;
  border-color: black;
}

.Water {
  background-color: aqua;
  border-color: aqua;
}
.Water:hover {
  background-color: aqua;
  border-color: black;
}

.Fire {
  background-color: orangered;
  border-color: orangered;
}
.Fire:hover {
  background-color: orangered;
  border-color: black;
}

.Ground {
  background-color: chocolate;
  border-color: chocolate;
}
.Ground:hover {
  background-color: chocolate;
  border-color: black;
}

.Fairy {
  background-color: darkviolet;
  border-color: darkviolet;
}
.Fairy:hover {
  background-color: darkviolet;
  border-color: black;
}

.Electric {
  background-color: yellow;
  border-color: yellow;
}
.Electric:hover {
  background-color: yellow;
  border-color: black;
}

.Grass {
  background-color: forestgreen;
  border-color: forestgreen;
}
.Grass:hover {
  background-color: forestgreen;
  border-color: black;
}

.Fighting {
  background-color: khaki;
  border-color: khaki;
}
.Fighting:hover {
  background-color: khaki;
  border-color: black;
}

.Psychic {
  background-color: salmon;
  border-color: salmon;
}
.Psychic:hover {
  background-color: salmon;
  border-color: black;
}

.Rock {
  background-color: tan;
  border-color: tan;
}
.Rock:hover {
  background-color: tan;
  border-color: black;
}

.Steel {
  background-color: silver;
  border-color: silver;
}
.Steel:hover {
  background-color: silver;
  border-color: black;
}

.Ghost {
  background-color: ghostwhite;
  border-color: gainsboro;
}
.Ghost:hover {
  background-color: ghostwhite;
  border-color: black;
}

.Ice {
  background-color: dodgerblue;
  border-color: dodgerblue;
}
.Ice:hover {
  background-color: dodgerblue;
  border-color: black;
}
